@charset "UTF-8";
/* CSS Document */

body {
	width: 60%;
	margin: 0;
	background:url(../images/land.jpg);
	background-attachment: fixed;
    background-size: cover;
	background-position: center;
    width: 100%;
    background-repeat: no-repeat;
	align-content: center;
	background-color:#999;

}

img.scale-with-grid {
	max-width: 100%;
	height: auto; }

.content {
	padding: 20px;
    max-width: 500px;
    margin: auto;
}

h1 {
	padding: 20px;
	font-size: 48px;
	color: #FF5154;
	font-family: "Lato Bold";
	font-weight: 1000;
	line-height: 2; }

p { 
	padding: 20px;
	margin: 0 0 20px 0; 
	font-size: 18px;
	color: #FFF;
	font-family: "Montserrat";	
	font-weight: 400;
	line-height: 2;
}

p.small {
	padding: 20px;
	font-size: 12px;
	font-weight: 300;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #FF0000;}


@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}