@charset "UTF-8";
/* CSS Document */
html{
    background-color: white;
}
body{
    background-color: #ccc;
    margin: 0 auto;
    width: 1300px;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul li a{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    padding: 30px;
}
nav{
    width: 100%;
    height: 80px;
    background-color: black;
    line-height: 80px;
    opacity: 0.8;
    overflow: auto;

}
nav ul li :hover{
    background-color: #E64A19;
}
nav ul{
    float: right;
    margin-right: 30px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    transition: 0.8s all;

}
.logo img{
    width: 400px;
    position: absolute;
    margin-top: 10px;
    margin-left: 30px;
    float: left;
    height: 60px;
   
}
.content {
	padding: 5px;
    max-width: 500px;
    margin: auto;
}
.main{
    background-image: url(../images/chips-dinner-fast-food.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 1300px;
    margin: 0 auto;
    
}
.main p{
    margin: 0;
    padding-top: 20px;
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.main a{
    color: orangered;
}
* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 0;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: center;
    text-align: center;
    width: 100%;
}


img{
    width: 100%;
    height: 200px;
}

.container {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 30px;
    height: 100%;
}

.col-25 {
    float: left;
    width: 30%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.order-form{
    margin: 200px;
}

.header {
    margin-top: 20px;
}

.col-25-food {
    float: left;
    width: 30%;
    margin: 6px;
    border: solid;
    border-radius: 10px;
    padding: 5px;
}

.name {
    float: center;
    text-align: center;
    color: rgb(0,122,24);
}

.price {
    text-align: center;
    color: rgba(239,44,44);
    font-size: 20px
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
    .sidenav, main {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}



.sidenav {
height: 70%;
width: 200px;
float: right;
position: fixed;
z-index: 1;
top: 0;
left: 0;
overflow-x: hidden;
padding-top: 20px;
width: 30%;
}

.sidenav a {
padding: 6px 6px 6px 32px;
text-decoration: none;
font-size: 25px;
color: rgb(0,122,24);
display: block;

}

.sidenav a:hover {
color: #f1f1f1;
}
table{
    width: 100%;
    
}
 /* margin-left: 200px; */
   /* width: 70%; */
   /* float: left; */


th{
    text-align: left;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    background: #E64A19;
}
table, th, td{
    border: 1px solid #000;
    border-collapse: collapse;
}
th, td{
    padding: 20px;
    color: azure;
}
header{
    font-size: 25px;
    text-transform: uppercase;
}
tr{
    background: #212121;
}

