body{
    background-image: url(../images/food2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 100px 40px;
    background-position: center;
    font-family: sans-serif;
}
.loginbox{
    width: 320px;
    height: 350px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}
h1
{
    text-align: center;
    margin: 0;
    font-size: 20px;
    padding: 0 0 20px;
}
.loginbox p
{
    padding: 0;
    margin: 0;
    font-weight: bold;
}
.loginbox input{
    margin-bottom: 20px;
    width: 95%;
}
.loginbox input[type="text"], input[type="password"]
{
    height: 40px;
    font-size: 16px;
    color: #fff;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #fff;
}
.signup{
    margin-left: 7px;
}
.loginbox input[type="submit"]
{
    font-size: 18px;
    border: none;
    height: 40px;
    outline: none;
    background: #fb2525;
    border-radius: 20pt;
    color: #fff;
}
.loginbox a :hover{
    color: #ffc107;
}
